language: perl

install:
  - cpanm -n Mojolicious
  - cpanm -n JSON::XS
  - cpanm -n YAML::XS
  - cpanm -n Hash::Merge
  - cpanm -n Term::Prompt
  - cpanm -n Log::Log4perl
  - cpanm -n File::HomeDir

script: HARNESS_IS_VERBOSE=1 YC_LIVE_TESTS=1 prove -lv t

perl:
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"

branches:
  only:
    - master

